.Topp {
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px none #000000;
    word-spacing: 7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: darkgreen;
    font-size: 1rem;
    position: relative;
    height: 30px;
    background-color: #1a82f7;
    background: url(images/linear_bg_2.png);
    background-repeat: repeat-x;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #2F2727, #1a82f7);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #2F2727, #1a82f7);

    /* IE 10 */
    background: -ms-linear-gradient(top, #2F2727, #1a82f7);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #2F2727, #1a82f7);

}
.Container {
    background-color: lightsteelblue;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 93%;
    /*margin-top: -100px;*/ 
    /*padding-top: 100px;*/
    position: relative;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: overflow;
}
.Left, .Middle, .Right {
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.Left::-webkit-scrollbar, .Middle::-webkit-scrollbar, .Right::-webkit-scrollbar {
    display: none;
}
.Left {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color:white ;
    width: 19rem;
}
.Middle {
    background-color: red;
    overflow: scroll;
    background-color: white;
    margin-right: 0.5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.Right {
    width: 12.5rem;
    background-color: violet;

}

.bottom{
    height: 30px;
    background-color: #1a82f7;
    background: url(images/linear_bg_2.png);
    background-repeat: repeat-x;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(bottom, #2F2727, #1a82f7);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(bottom, #2F2727, #1a82f7);

    /* IE 10 */
    background: -ms-linear-gradient(bottom, #2F2727, #1a82f7);

    /* Opera 11.10+ */
    background: -o-linear-gradient(bottom, #2F2727, #1a82f7);


    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px none #000000;

}

.fullContainer{
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px none #000000;
}



/*TABLE*/ 

.tagtable{
    height: 100%;
    border-collapse: collapse;
    overflow-x: scroll;
    display: block;
}
.tagtable thead, .tagtable th{
    height: 35px
}

.tagtable thead, .tagtable  tbody {
    display: block;
}
.tagtable tbody {
    font-size: 10pt;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
}

.tagtable td, .tagtable  th {
    min-width: 120px;
    border: solid 1px lightblue;
}

.tagtable  td {
    height: 25px;
}

.tagtable thead th:first-child{
    min-width: 500px
}

.tagtable tbody td:first-child{
    min-width: 480px;
    text-align: left;
}   

.tagtable tr{
    width: 400px
}

.tagtable tbody tr td {
    text-align: center;
}

.tagtable tbody tr td.lalign {
    text-align: left;
}

.tagtable tbody tr:nth-child(odd){
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.tagtable tbody tr:nth-child(even)
{
    /*background-color: ffff88*/
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,237,255,1) 3%, rgba(188,218,221,1) 45%, rgba(221,237,255,1) 97%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(3%,rgba(221,237,255,1)), color-stop(45%,rgba(188,218,221,1)), color-stop(97%,rgba(221,237,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,237,255,1) 3%,rgba(188,218,221,1) 45%,rgba(221,237,255,1) 97%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,237,255,1) 3%,rgba(188,218,221,1) 45%,rgba(221,237,255,1) 97%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,237,255,1) 3%,rgba(188,218,221,1) 45%,rgba(221,237,255,1) 97%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,237,255,1) 3%,rgba(188,218,221,1) 45%,rgba(221,237,255,1) 97%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    color:#000000;

}



#tagtable thead {   
    font-size: 10pt;
    cursor: pointer;
}
#tagtable thead tr th { 
    font-weight: bold;
}

#tagtable thead tr th span { 
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}



#tagtable tbody tr { 
    color: #555;
}

.tagtable tbody tr:hover { 
    background: rgba(173,215,255,1);
    background: -moz-linear-gradient(left, rgba(173,215,255,1) 0%, rgba(95,159,227,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(173,215,255,1)), color-stop(100%, rgba(95,159,227,1)));
    background: -webkit-linear-gradient(left, rgba(173,215,255,1) 0%, rgba(95,159,227,1) 100%);
    background: -o-linear-gradient(left, rgba(173,215,255,1) 0%, rgba(95,159,227,1) 100%);
    background: -ms-linear-gradient(left, rgba(173,215,255,1) 0%, rgba(95,159,227,1) 100%);
    background: linear-gradient(to right, rgba(173,215,255,1) 0%, rgba(95,159,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add7ff', endColorstr='#5f9fe3', GradientType=1 );
}




#tagtable tbody tr.highlight  {
    color: white;
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}
.tagTable input{
    border: none;
    background-color: transparent;
    text-align: center;
    width: 120px; 
    height: 25px;
    font: inherit
}

.tagTable input:focus{
    background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}