<!--#{extends 'main.html' /}    
#{set title:'Home' /}


<div style="height: 550px; background: rgb(30,87,153); /* Old browsers */
     /* IE9 SVG, needs conditional override of 'filter' to 'none' */
     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
     background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(32,124,202,1) 49%, rgba(41,137,216,1) 84%, rgba(125,185,232,1) 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(49%,rgba(32,124,202,1)), color-stop(84%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 84%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 84%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 84%,rgba(125,185,232,1) 100%); /* IE10+ */
     background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 84%,rgba(125,185,232,1) 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */
     " >
                    <div  id="malha1" class="malha" >asdasd</div>
                    <div id="malha2" class="malha">asdasd</div>
    <div style="z-index: 1; position: absolute; top: 200px; left: 0px; width: 100%;  padding-left:140px">
        <img src="@{'public/img/plantagrande.png'}"/>
        <div class="data-container" style="top: 60px; left: 470px">
            <label class="desc">TI-31</label><br/>
            <label class="arrow up"></label>
            <input id="tq1Temp" class="dataBox" type="text"  value="123.13">
            <label class="unid">oC</label>
        </div>
        <div class="data-container" style="top: 190px; left: 485px">
            <label class="desc">TI-32</label><br/>
            <label class="arrow up"></label>
            <input id="tq2Temp" class="dataBox" type="text"  value="123.13">
            <label class="unid">oC</label>
        </div>

        <div class="data-container" style="top: 130px; left: 460px">
            <label class="desc">LI-31</label><br/>
            <label class="arrow down"></label>`
            <input id="tq1Niv" class="dataBox" type="text"  value="161.16">
            <label class="unid">oC</label>
        </div>

        <div class="data-container" style="top: 10øpx; left: 700px">
            <label class="desc">LI-32</label><br/>
            <label class="arrow down"></label>
            <input id="tq2Niv" class="dataBox" type="text"  value="161.16">
            <label class="unid">oC</label>
        </div>
        <div class="data-container" style="top: 90px; left: 140px">
            <label class="desc">FI-31</label><br/>
            <input id="tq1Vaz" class="dataBox desl" type="text"  value="192.1"><label class="unid">L/H</label><br/>
            <button id="rB1" class="btn btn-mini btn-primary" type="button">R</button>
            <input id="tq1VazTot" class="dataBox" type="text"  value="1233.8">
            <label class="unid">L</label>
        </div>
        <div class="data-container" style="top: 110px; left: 920px">
            <label class="desc">FI-32</label><br/>
            <input id="tq2Vaz" class="dataBox desl" type="text"  value="192.1"><label class="unid">L/H</label><br/>
            <button id="rB2" class="btn btn-mini btn-primary" type="button">R</button>
            <input id="tq2VazTot" class="dataBox" type="text"  value="1334.8">
            <label class="unid">L</label>
        </div>
        <div class="data-container custom" style="top: 0px; left: 1100px;">
            <div><label class="desc-custom">TIC-32</label></div>
            <div style="margin: 5px;">
                <input id="tq2Vaz" class="dataBox" type="text"  value="192.1"><label class="unid-b">L/H</label><br/>
                <input id="tq2VazTot" class="dataBox" type="text"  value="1334.8"><label class="unid-b">L</label><br/>
                <input id="tq2VazTot" class="dataBox" type="text"  value="1334.8"><label class="unid-b">L</label><br/>
                <div class="make-switch switch-mini" data-on="primary" data-off="success" data-on-label="A" data-off-label="M">
                    <input type="checkbox" checked>
                </div>
            </div>
        </div>
        <div class="data-container custom" style="top: 0px; left: 50px;">
            <div><label class="desc-custom">TIC-31</label></div>
            <div style="margin: 5px;">
                <input id="tq2Vaz" class="dataBox" type="text"  value="192.1"><label class="unid-b">L/H</label><br/>
                <input id="tq2VazTot" class="dataBox" type="text"  value="1334.8"><label class="unid-b">L</label><br/>
                <input id="tq2VazTot" class="dataBox" type="text"  value="1334.8"><label class="unid-b">L</label><br/>
                <div class="make-switch switch-mini" data-on="primary" data-off="success" data-on-label="A" data-off-label="M">
                    <input type="checkbox" checked>
                </div>
            </div>
        </div>
        <div class="data-container custom" style="top: 130px; left: 240px;">
            <div><label class="desc-custom">FY-31</label></div>
            <div style="margin: 5px;">
                <input id="tq2Vaz" class="dataBox" type="text"  value="192.1"><label class="unid-b">%</label><br/>
            </div>
        </div>
        <div class="data-container custom" style="top: 130px; left: 820px;">
            <div><label class="desc-custom">FY-32</label></div>
            <div style="margin: 5px;">
                <input id="tq2Vaz" class="dataBox" type="text"  value="192.1"><label class="unid-b">%</label><br/>
            </div>
        </div>



    </div>
</div>
<div id="page-post">
</div>

<div class="bottom-spacer"></div><section id="ctas" class="no-slider">
    <div class="shell clearfix">
    </div>
</section>
-->
