
#{extends 'main.html' /}    
#{set title:'Home' /}

<div id="slider-wrap" class="loader-block top-loader"><!-- START REVOLUTION SLIDER 4.1 fullwidth mode -->

    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#111111;padding:0px;margin-top:0px;margin-bottom:0px;max-height:558px;">
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:558px;height:558;">
            <div style="margin-left: 280px; position: absolute; margin-top: 60px">
                <img src="@{'public/img/smarSuperv.png'}">
            </div>
        </div>
    </div>			
    <script type="text/javascript">

        var tpj = jQuery;
        tpj.noConflict();
        var revapi1;

        tpj(document).ready(function() {

            if (tpj('#rev_slider_1_1').revolution == undefined)
                revslider_showDoubleJqueryError('#rev_slider_1_1');
            else
                revapi1 = tpj('#rev_slider_1_1').show().revolution(
                        {
                            dottedOverlay: "none",
                            delay: 9000,
                            startwidth: 1440,
                            startheight: 558,
                            hideThumbs: 200,
                            thumbWidth: 100,
                            thumbHeight: 50,
                            thumbAmount: 2,
                            navigationType: "bullet",
                            navigationArrows: "solo",
                            navigationStyle: "round",
                            touchenabled: "on",
                            onHoverStop: "on",
                            navigationHAlign: "center",
                            navigationVAlign: "bottom",
                            navigationHOffset: 0,
                            navigationVOffset: 20,
                            soloArrowLeftHalign: "left",
                            soloArrowLeftValign: "center",
                            soloArrowLeftHOffset: 20,
                            soloArrowLeftVOffset: 0,
                            soloArrowRightHalign: "right",
                            soloArrowRightValign: "center",
                            soloArrowRightHOffset: 20,
                            soloArrowRightVOffset: 0,
                            shadow: 0,
                            fullWidth: "on",
                            fullScreen: "off",
                            stopLoop: "off",
                            stopAfterLoops: -1,
                            stopAtSlide: -1,
                            shuffle: "off",
                            autoHeight: "off",
                            forceFullWidth: "off",
                            hideThumbsOnMobile: "off",
                            hideBulletsOnMobile: "off",
                            hideArrowsOnMobile: "off",
                            hideThumbsUnderResolution: 0,
                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            startWithSlide: 0,
                            videoJsPath: "http://demo.scheetzdesigns.com/espresso/wp-content/plugins/revslider/rs-plugin/videojs/",
                            fullScreenOffsetContainer: ""
                        });

        });	//ready

        jQuery('#ta').click(function() {
            //        if("{session.login}"){
            //            showLoginBox();
            //
            //        }
            //        jQuery("#tt").show(400);
//        showErro("adad");
            jQuery('#centralMessage').slideDown("100");
            ;
        });
        jQuery('#login2').click(function() {
            //    hideMessage()
            //        showLoginBox();
            jQuery('#centralMessage').slideUp("100");
            ;
//        jQuery("#centralMessage").toogle(400);
        });


    </script>

    <!-- END REVOLUTION SLIDER --></div>
<section id="ctas">
    .
</section>

<section id="footer-widgets">
    <div class="overlay">
    </div>
</section>


