<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{get 'moreScripts' /}
<link rel='stylesheet'  href="@{'public/plugin/revslider/css/settings.css'}" />
<link rel='stylesheet'  href="@{'public/plugin/revslider/css/dynamic-captions.css'}" />
<link rel='stylesheet'  href="@{'public/plugin/revslider/css/static-captions.css'}" />
<link rel='stylesheet'  href="@{'public/css/slicknav.css'}" />
<link rel='stylesheet'  href="@{'public/css/custom.php.css'}" />
<link rel='stylesheet'  href="@{'public/css/style.css'}" />
<link rel='stylesheet'  href="@{'public/css/tag-panel-style.css'}" />
<link rel='stylesheet'  href="@{'public/css/css.css'}" />
<link rel='stylesheet'  href="@{'public/css/transitions.css'}" />

<link rel="stylesheet" media="screen" href="@{'public/plugin/uLoginBox/css/uLoginbox.css'}" />
<link rel="stylesheet" media="screen" href="@{'public/css/main.css'}"/>
<link rel="stylesheet" media="screen" href="@{'public/css/messagesBox.css'}"/>
<link rel="stylesheet" media="screen" href="@{'public/css/css-form.css'}"/>
<link rel='stylesheet'  href="@{'public/plugin/bootstrap/css/bootstrap.css'}" />
<link rel='stylesheet'  href="@{'public/plugin/bootstrap-switch/css/bootstrap-switch.css'}" />
<link rel='stylesheet'  href="@{'public/plugin/RockingRollingMenu/css/style.css'}" />
<link rel='stylesheet'  href="@{'public/plugin/tree/src/css/jquery-explr-1.4.css'}" />
<link rel='stylesheet'  href="@{'public/plugin/table-sorter/css/styles.css'}" />




<script type="text/javascript" src="@{'public/js/jquery1.10.2.js'}"></script> 
<script type="text/javascript" src="@{'public/plugin/table-sorter/js/jquery.tablesorter.min.js'}"></script> 

<script type="text/javascript" src="@{'public/js/jquery-migrate.min.js'}"></script> 
<script type="text/javascript" src="@{'public/js/comment-reply.min.js'}"></script> 
<script type="text/javascript" src="@{'public/plugin/revslider/js/jquery.themepunch.plugins.min.js'}"></script> 
<script type="text/javascript" src="@{'public/plugin/revslider/js/jquery.themepunch.revolution.min.js'}"></script> 
<script type="text/javascript" src="@{'public/js/html5.js'}"></script> 
<script type="text/javascript" src="@{'public/js/modernizr.js'}"></script> 
<script type="text/javascript" src="@{'public/plugin/bootstrap/js/bootstrap.js'}"></script>
<script type="text/javascript" src="@{'public/plugin/bootstrap-switch/js/bootstrap-switch.js'}"></script>
<script type="text/javascript" src="@{'public/js/util.js'}"></script>
<script type="text/javascript" src="@{'public/plugin/uLoginBox/js/uLoginBox.js'}"></script>

<script src="@{'public/plugin/RockingRollingMenu/jquery-css-transform.js'}" type="text/javascript"></script>
<script src="@{'public/plugin/RockingRollingMenu/jquery-animate-css-rotate-scale.js'}" type="text/javascript"></script>
<script src="@{'public/plugin/tree/src/js/jquery-explr-1.4.min.js'}" type="text/javascript"></script>




#{doLayout /}
