
#{extends 'imports.html'/}
</head>
<body class="home">

    <header class="def header">

        <div class="shell">
            #{if session.login}
            <a id="login" class="logout-place" href="@{Action.logout}">Logout</a>
            #{/if}
            #{else}
            <a id="login" class="login-place">Login</a>
            #{/else}
        </div>

    </header>
    <section id="ctas">.
    </section>
    <div id="centralMessage" style=" 
         z-index: 12; position: absolute;height: 40px; width: 100%;;
         color: white; font-weight: bold;

         display: none;
         line-height: 50%;
         text-align: center;
         background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhOTAzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NCUiIHN0b3AtY29sb3I9IiM4ZjAyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmQwMDE5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
         background: -moz-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
         background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
         background: -o-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 12+ */
         background: -ms-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
         background: radial-gradient(ellipse at center,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */" class="" id="tt">

        <span style="font-family: Garamond, serif;
              letter-spacing: 1px;
              font-weight:bold;
              font-size: 18px;
              line-height: 40px; 
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              ">ø${flash.error}asasdkasdaskdasd  andand  asdas</span>
    </div>
</div>
#{doLayout /}
</body>

<script type='text/javascript' src='../../public/js/jquery.slicknav.min.js'></script>
<script type='text/javascript' src='../../public/js/jquery.easing.js'></script>
<script type='text/javascript' src='../../public/js/fitvids.js'></script>
<script type='text/javascript' src='../../public/js/jquery.main.js'></script>
</html>

<script>


    //    jQuery(document).ready(function(){
    //        if("${flash.error}"){
    //            //            alert("${flash.error}");
    //            showErro("Eduardo");
    //
    //        }
    //    });

    initLoginBox();
    jQuery(document).keyup(function(e) {

        if (e.keyCode == KEYCODE_ESC) {
            uLoginBox.clear()
        }
    });
    jQuery('#login').click(function() {
        //        if("{session.login}"){
        showLoginBox();
        //
        //        }
        //        jQuery("#tt").show(400);
        //        showErro("adad");
    });

    function submetence() {
        jQuery('#loginForm').submit(function() {
            jQuery("#botao").focus();
            jQuery('#ajaxMessage').hide(500);
            jQuery('#loginWaiting').show();
            disableButton("#botao");
            disableInput("#login-input, #senha-input");
            if (jQuery(this).data('shouldSubmit')) {
                return true;
            }

            jQuery.ajax({
                url: '/login',
                type: 'get',
                dataType: 'json',
                context: this,
                data: {
                    login: jQuery('#login-input').val(),
                    senha: jQuery('#senha-input').val()
                },
                success: function(erro) {
                    jQuery('#loginWaiting').hide();
                    if (erro) {
                        jQuery('#senha-input').val("");
                        //                        jQuery('#loginMessage').html(erro.msg)
                        jQuery('#ajaxMessage').show(500);
                        enableButton("#botao, #cancelar");
                        enableInput("#matricula, #senha");
                        jQuery("#matricula").focus();
                    } else {
                        jQuery(this)
                                .data('shouldSubmit', true)
                                .submit();
                    }
                }
            });
            return false;
        });
    }

    function showLoginBox() {

        submetence();
        uLoginBox.alert({
            width: '500px',
            opened: function() {
                jQuery("#login-input").focus();
                jQuery("#login-input, #senha").keypress(function(event) {
                    if (event.which == KEYCODE_ENTER) {
                    }
                });
                jQuery('#loginCancel').click(function() {
                    uLoginBox.clear();
                });
                jQuery('#botao').click(function() {
                });
            }
        });
    }

    jQuery("#teste").click(function() {
        jQuery.getJSON("@{Supervisory.data()}", function(systemData) {
            console.log(systemData.get(AI005.OUT010))
        });
    });

</script>